.home {
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-sm) var(--space-md);
  background-color: var(--bg-color-main);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logoText {
  font-size: var(--text-2xl);
}

.nav a {
  font-size: var(--text-base);
  text-decoration: none;
  text-align: center;
}

.hero {
  max-width: 1280px;
  margin: var(--space-3xl) auto;
  display: flex;
  align-items: center;
  gap: var(--space-3xl);
  padding-inline: var(--space-md);
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-lg);
}

.left h2 {
  font-size: var(--text-4xl);
}

.left p {
  font-size: var(--text-xl);
  line-height: var(--leading-normal);
}

.getStartedButton {
  max-width: fit-content;
  width: 100%;
  padding: var(--space-md) var(--space-lg);
  background-color: #16a34a;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.right {
  flex: 1.5;
  overflow: hidden;
  border-radius: var(--radius-lg);
  position: relative;
  box-shadow: 4px -4px 4px var(--bg-color-surface-2);
}

.right img {
  width: 100%;
  aspect-ratio: 3/2;
  display: block;
  object-fit: cover;
  object-position: top;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #0b0d10, transparent);
}

.guide {
  max-width: 800px;
  margin: 3rem auto;
  padding-inline: var(--space-md);
  text-align: center;
}

.guide h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.guide ol {
  text-align: left;
  margin: 0 auto;
  padding-left: 1.2rem;
  line-height: 1.8;
}

.guide ol li {
  max-width: 375px;
}

.footer {
  height: 56px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-surface-1);
}

.footer a {
  line-height: 0;
  background: transparent;
}

.footerIcon {
  width: 28px;
  height: 28px;
  background: transparent;
}

@media (hover: hover) and (pointer: fine) {
  .getStartedButton:hover {
    background-color: #15803d;
  }
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }
}